#root {
  margin: 0 auto;
  text-align: center;
}

body{
  background-color: rgb(204, 233, 252);
}

label {
  font-size: 24px;
}

input {
  font-size: 24px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbarTopRight {
  position: absolute;
  display: flex;
  align-items: center;
  top: 10px;
  right: 10px;
  font-size: 16px;
}

.navbarIcons {
  margin-right: 8px;
  margin-top: 8px;
}

.passwordContainer {
    position: relative;
    width: 300px;
    justify-content: center;
}

.passwordIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.passwordField {
    padding-right: 35px;
}

.loginField {
    width: 300px;
    height: 40px;
    font-size: 24px;
    margin: 5px;
    border-radius: 5px;
}

.button {
    color: white;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    border-width: 0px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: dodgerblue;
    text-decoration: none;
    cursor: pointer;
    margin: 5px;
}

.button:hover {
    background-color: lightblue;
}

.center {
    align-items: center;
    justify-content: center;
}

.alignVertical {
    display: flex;
    flex-direction: column;
}

.alignHorizontal {
    display: flex;
}

.checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.checkboxLabel {
  cursor: pointer;
}

.margin-bottom20{
    margin-bottom: 20px;
}

.gap10{
  gap: 10px;
}

.gap20{
  gap: 20px;
}

.activeNavBarLink {
  position: relative;
  color: dodgerblue;
}

.activeNavBarLink::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 2px;
  background-color: dodgerblue;
}

.topBar {
  margin-top: 12px;
  margin-bottom: 12px;
  padding-bottom: 12px;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.siteTitle {
  font-size: 40px;
  font-weight: bold;
  margin-right: 30px;
}

.navLink {
  font-size: 24px;
  margin-right: 15px;
  cursor: pointer;
}

.navLink:hover {
  color: dodgerblue;
}

.rectangleSelectorOption {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 2px solid skyblue;
  color: white;
  cursor: pointer;
}

.rectangleSelectorUnselected {
  background-color: lightblue;
}

.rectangleSelectorSelected {
  background-color: dodgerblue;
}

.chatOverlay {
  position: fixed;
  top: auto;
  right: 30px;
  bottom: 0;
  height: 500px;
  width: 600px;
  background: #fff;
  display: flex;
  flex-direction: row;
  z-index: 1000;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.closeChatButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.chat-selection {
  width: 30%;
  padding: 20px;
  overflow-y: auto;
}

.chat-selection ul {
  list-style: none;
  padding: 0;
}

.chat-selection .chat-user {
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: #e0e0e0;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.chat-selection .chat-user:hover {
  background-color: #d6d6d6;
}

.chat-selection .chat-user.selected {
  background-color: #cccccc;
  font-weight: bold;
}

.separator {
  width: 1px;
  background-color: #cccccc;
}

.chat-contents {
  width: 70%;
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.messages {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  max-width: 70%;
  padding: 10px;
  border-radius: 5px;
  word-wrap: break-word;
}

.message.incoming {
  align-self: flex-start;
  background-color: #e0f7fa;
}

.message.outgoing {
  align-self: flex-end;
  background-color: #d1c4e9;
}

.message-content {
  margin: 0;
}

.message-timestamp {
  font-size: 0.8em;
  color: #777;
  text-align: right;
}