@import "tailwindcss";

#root {
  margin: 0 auto;
  text-align: center;
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 6px;
  border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #b0b0b0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: rgb(204, 233, 252);
}

.navbarTopRight {
  position: absolute;
  display: flex;
  align-items: center;
  top: 10px;
  right: 10px;
  font-size: 16px;
}

.navbarIcons {
  margin-right: 8px;
  margin-top: 8px;
}

.passwordContainer {
    position: relative;
    width: 300px;
    justify-content: center;
}

.passwordIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.searchContainer {
    position: relative;
}

.searchButton {
    position: absolute;
    right: 50px;
    top: 8px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.searchButton:hover {
  color: dodgerblue;
}

.sendMessageButton {
  background: none;
  border: none;
  cursor: pointer;
  cursor: pointer;
}

.sendMessageButton:hover {
  color: dodgerblue;
}

.loginField {
    width: 300px;
    height: 40px;
    font-size: 24px;
    margin: 5px;
    padding-left: 4px;
    border-radius: 5px;
    background-color: white;
    border-color: #000;
    border-width: 2px;
    outline: none;
}

.button {
    color: white;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    border-width: 0px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: dodgerblue;
    text-decoration: none;
    cursor: pointer;
    margin: 5px;
}

.button:hover {
    background-color: lightblue;
}

.center {
    align-items: center;
    justify-content: center;
}

.alignVertical {
    display: flex;
    flex-direction: column;
}

.alignHorizontal {
    display: flex;
}

.activeNavBarLink {
  position: relative;
  color: dodgerblue;
}

.activeNavBarLink::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 2px;
  background-color: dodgerblue;
}

.topBar {
  margin-left: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-bottom: 12px;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.siteTitle {
  font-size: 40px;
  font-weight: bold;
  margin-right: 30px;
}

.navLink {
  font-size: 24px;
  margin-right: 15px;
  cursor: pointer;
}

.navLink:hover {
  color: dodgerblue;
}

.rectangleSelectorOption {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 2px solid skyblue;
  color: white;
  cursor: pointer;
}

.rectangleSelectorUnselected {
  background-color: lightblue;
}

.rectangleSelectorSelected {
  background-color: dodgerblue;
}

.chatOverlay {
  position: fixed;
  top: auto;
  right: 30px;
  bottom: 0;
  height: 500px;
  width: 600px;
  background: #fff;
  display: flex;
  flex-direction: row;
  z-index: 1000;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.topRightButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.muiClickableButton:hover {
  color: dodgerblue;
}

.chat-selection {
  position: relative;
  overflow-y: auto;
}

.chatList {
  list-style-type: none;
  padding: 0;
}

.chatList li {
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.chatList li:hover {
  color: dodgerblue;
}

.chatList li.selected {
  font-weight: bold;
}

.separator {
  width: 1px;
  background-color: #cccccc;
}

.chat-contents {
  width: 70%;
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.messagesContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  height: 100%;
  gap: 10px;
}

.messages {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  padding-right: 8px;
}

.message {
  max-width: 70%;
  padding: 10px;
  border-radius: 5px;
  word-wrap: break-word;
}

.message.incoming {
  align-self: flex-start;
  background-color: #e0f7fa;
}

.message.outgoing {
  align-self: flex-end;
  background-color: #d1c4e9;
}

.message-content {
  margin: 0;
}

.message-timestamp {
  font-size: 0.8em;
  color: #777;
  text-align: right;
}

.editProfileModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.communityChat {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 0;
}