* {
    font-family: sans-serif;
}

div.Menu a {
    border-radius: 0px;
}

a.regularlink {
    background-color: white;
    color: blue;
    padding: 0px;
    font-size: medium;
    text-decoration: none;
    border-radius: 0px;
}

a {
    background-color: darkcyan;
    color: white;
    padding: 15px;
    font-size: large;
    text-decoration: none;
    border-radius: 8px;
}

    a:hover {
        background-color: rgb(98, 199, 165);
    }

button {
    background-color: darkcyan;
    color: white;
    padding: 15px;
    margin: 10px;
    font-size: large;
    text-decoration: none;
    border-radius: 8px;
    border-width: 0px;
}

    button:hover {
        background-color: rgb(98, 199, 165);
    }

div.Menu {
    padding-bottom: 60px;
}

div.QuestionCategorySelection {
    line-height: 60px;
}
